.parallax-container {
    height: 100vh;
    background-image: url('../assets/bgm.jpg'); /* Placeholder image */
    background-size: cover;
    background-repeat: no-repeat;
    scroll-snap-align: center;
  }
  .parallax-content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
  }
  
  .parallax-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .parallax-content p {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) { 
    .parallax-container {
      height: 50vh; /* Adjust height for smaller screens */
    }
    .parallax-content{
        height: 30vh;
    }
    .parallax-content h1 {
        font-size: 16px;
      }
      .parallax-content p {
        font-size: 12px;
      }
  }
  
  @media screen and (max-width: 576px) {
    .parallax-container {
      height: 30vh; /* Further adjust height for extra small screens */
    }
  }
  
  .dropdown1{
    scroll-snap-align: center;
    height: 100vh;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
  }
  .dropdown {
    margin-top: 25px;
    width: 20vw;
    appearance: none;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 10px;
    font-size: 16px;
    color: #333333;
    cursor: pointer;
  }
  
  .extreme-button{
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 22px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
  }
  .extreme-button:hover{
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }

  .dropdown:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }


*{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}